:root {
  --ui-primary: #2196F3;
  --ui-primary-active: #1E88E5;
  --ui-bg: #fff;
  --ui-card-bg: #eee;
  --ui-like: #F44336;
  --ui-tab-color: rgb(255 255 255 / 70%);
  --ui-tab-color-active: #fff;
  --ui-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  --ui-shadow-hover: 0 10px 20px rgb(0 0 0 / 15%);
  --ui-font-size: 14px;
  --ui-font-family: system-ui, -apple-system, sans-serif;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --ui-primary: #1E88E5;
//     --ui-primary-active: #1565C0;
//     --ui-bg: #121212;
//     --ui-card-bg: #1e1e1e;
//     --ui-like: #E53935;
//     --ui-tab-color: rgb(255 255 255 / 70%);
//     --ui-tab-color-active: #fff;
//   }
// }

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--ui-bg);
  font-family: var(--ui-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}